.button {
  width: 146px;
  height: 48px;
  min-height: 48px;
  border-radius: 100px;
  font-family: Gotham, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
  background-color: rgba(237, 65, 89, 1);
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(237, 65, 89);
}

.button:active {
  box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
}

.button_login {
  margin-top: 48px;
  margin-bottom: 60px;
}

.button_logout {
  width: 154px;
  margin-top: 56px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .button {
    width: 145px;
  }

  .button_login {
    margin-top: 40px;
  }

  .button_logout {
    margin-top: 40px;
  }
}
